
build/intermediates/lint-cache/api-versions-6-22.bin

build/intermediates/lint-cache/typos-en.txt-2.bin

local.properties

app/app.iml

.gradle/2.2.1/taskArtifacts/cache.properties

.gradle/2.2.1/taskArtifacts/cache.properties.lock

.gradle/2.2.1/taskArtifacts/fileHashes.bin

.gradle/2.2.1/taskArtifacts/fileSnapshots.bin

.gradle/2.2.1/taskArtifacts/outputFileStates.bin

.gradle/2.2.1/taskArtifacts/taskArtifacts.bin

.gradle/2.4/taskArtifacts/cache.properties

.gradle/2.4/taskArtifacts/cache.properties.lock

.gradle/2.4/taskArtifacts/fileHashes.bin

.gradle/2.4/taskArtifacts/fileSnapshots.bin

.gradle/2.4/taskArtifacts/outputFileStates.bin

.gradle/2.4/taskArtifacts/taskArtifacts.bin

.idea/modules.xml

.idea/copyright/profiles_settings.xml

.idea/compiler.xml

.idea/.name

.idea/gradle.xml

.idea/libraries/butterknife_7_0_1.xml

.idea/libraries/fastjson_1_1_34_android.xml

.idea/libraries/okhttp_2_4_0.xml

.idea/libraries/okio_1_4_0.xml

.idea/libraries/ormlite_android_4_48.xml

.idea/libraries/ormlite_core_4_48.xml

.idea/libraries/picasso_2_5_2.xml

.idea/libraries/support_annotations_22_2_1.xml

.idea/libraries/support_v4_22_2_1.xml

.idea/libraries/systembartint_1_0_3.xml

.idea/misc.xml

.idea/runConfigurations.xml

.idea/vcs.xml

.idea/workspace.xml

app/app.iml
