
.gradle/2.4/taskArtifacts/cache.properties

.gradle/2.4/taskArtifacts/cache.properties.lock

.gradle/2.4/taskArtifacts/fileHashes.bin

.gradle/2.4/taskArtifacts/fileSnapshots.bin

.gradle/2.4/taskArtifacts/outputFileStates.bin

.gradle/2.4/taskArtifacts/taskArtifacts.bin

.idea/.name

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/gradle.xml

.idea/libraries/butterknife_7_0_1.xml

.idea/libraries/fastjson_1_1_34_android.xml

.idea/libraries/okhttp_2_4_0.xml

.idea/libraries/okio_1_4_0.xml

.idea/libraries/ormlite_android_4_48.xml

.idea/libraries/ormlite_core_4_48.xml

.idea/libraries/picasso_2_5_2.xml

.idea/libraries/support_annotations_22_2_1.xml

.idea/libraries/systembartint_1_0_3.xml

.idea/libraries/support_v4_22_2_1.xml

.idea/misc.xml

.idea/modules.xml

.idea/runConfigurations.xml

.idea/vcs.xml

.idea/workspace.xml

app/app.iml

build/intermediates/gradle_project_sync_data.bin

build/intermediates/dex-cache/cache.xml

app/app.iml

app/app.iml

local.properties

.idea/libraries/leakcanary_watcher_1_3.xml

.idea/libraries/leakcanary_android_1_3.xml

.idea/libraries/leakcanary_analyzer_1_3.xml

.idea/libraries/haha_1_1.xml

app/app.iml

local.properties

.gradle/2.2.1/taskArtifacts/fileSnapshots.bin

.gradle/2.2.1/taskArtifacts/outputFileStates.bin

.gradle/2.2.1/taskArtifacts/taskArtifacts.bin

.idea/libraries/ultra_ptr_1_0_10.xml

build/intermediates/lint-cache/api-versions-6-22.bin

build/intermediates/lint-cache/typos-en.txt-2.bin

local.properties

.gradle/2.2.1/taskArtifacts/cache.properties

.gradle/2.2.1/taskArtifacts/cache.properties.lock

.gradle/2.2.1/taskArtifacts/fileHashes.bin

app/app.iml

.idea/libraries/glide_3_6_1.xml

app/app.iml

app/app.iml

local.properties

.idea/libraries/renderscript_v8.xml
